<div>
    <h2 data-translate="backpackdaddyApp.category.home.title">Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.category.home.createLabel">
                        Create new Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.category.categoryDescription">Category Description</span></th>
                    <th><span data-translate="backpackdaddyApp.category.level">Level</span></th>
                    <th><span data-translate="backpackdaddyApp.category.parentId">Parent Id</span></th>
                    <th><span data-translate="backpackdaddyApp.category.order">Order</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categories track by category.id">
                    <td><a ui-sref="category-detail({id:category.id})">{{category.id}}</a></td>
                    <td>{{category.categoryDescription}}</td>
                    <td>{{category.level}}</td>
                    <td>{{category.parentId}}</td>
                    <td>{{category.order}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="category-detail({id:category.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category.edit({id:category.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category.delete({id:category.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
