
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCategoryLabel" data-translate="backpackdaddyApp.category.home.createOrEditLabel">Create or edit a Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.category.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.category.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.category.categoryDescription" for="field_categoryDescription">Category Description</label>
            <input type="text" class="form-control" name="categoryDescription" id="field_categoryDescription"
                    ng-model="vm.category.categoryDescription"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.category.level" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.category.level"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.category.parentId" for="field_parentId">Parent Id</label>
            <input type="number" class="form-control" name="parentId" id="field_parentId"
                    ng-model="vm.category.parentId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.category.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                    ng-model="vm.category.order"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
