
<div>
    <h2><span data-translate="backpackdaddyApp.region.detail.title">Region</span> {{vm.region.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.region.name">Name</span></dt>
        <dd>
            <span>{{vm.region.name}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.region.code">Code</span></dt>
        <dd>
            <span>{{vm.region.code}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.region.country">Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.region.country.id})">{{vm.region.country.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="region-detail.edit({id:vm.region.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
