<div>
    <h2 data-translate="backpackdaddyApp.region.home.title">Regions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="region.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.region.home.createLabel">
                        Create new Region
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.region.name">Name</span></th>
                    <th><span data-translate="backpackdaddyApp.region.code">Code</span></th>
                    <th><span data-translate="backpackdaddyApp.region.country">Country</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="region in vm.regions track by region.id">
                    <td><a ui-sref="region-detail({id:region.id})">{{region.id}}</a></td>
                    <td>{{region.name}}</td>
                    <td>{{region.code}}</td>
                    <td>
                        <a ui-sref="country-detail({id:region.country.id})">{{region.country.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="region-detail({id:region.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.edit({id:region.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="region.delete({id:region.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
