
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserProfileLabel" data-translate="backpackdaddyApp.userProfile.home.createOrEditLabel">Create or edit a User Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userProfile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.userProfile.userName" for="field_userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="field_userName"
                    ng-model="vm.userProfile.userName"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.userName.$invalid">
                <p class="help-block"
                    ng-show="editForm.userName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.userName.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.userProfile.birthday" for="field_birthday">Birthday</label>
                <div class="input-group">
                    <input id="field_birthday" type="text" class="form-control" name="birthday" uib-datepicker-popup="{{dateformat}}" ng-model="vm.userProfile.birthday" is-open="vm.datePickerOpenStatus.birthday"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthday')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.birthday.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthday.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.userProfile.isWorkingOversea" for="field_isWorkingOversea">Is Working Oversea</label>
                <input type="checkbox" name="isWorkingOversea" id="field_isWorkingOversea"
                          ng-model="vm.userProfile.isWorkingOversea"/>
            <div ng-show="editForm.isWorkingOversea.$invalid">
                <p class="help-block"
                    ng-show="editForm.isWorkingOversea.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userProfile.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.gender" for="field_gender">Gender</label>
            <select class="form-control" id="field_gender" name="gender" ng-model="vm.userProfile.gender" ng-options="gender as gender.id for gender in vm.genders track by gender.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.nationality" for="field_nationality">Nationality</label>
            <select class="form-control" id="field_nationality" name="nationality" ng-model="vm.userProfile.nationality" ng-options="country as country.id for country in vm.countries track by country.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.occupation" for="field_occupation">Occupation</label>
            <select class="form-control" id="field_occupation" name="occupation" ng-model="vm.userProfile.occupation" ng-options="occupation as occupation.id for occupation in vm.occupations track by occupation.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.currentLocation" for="field_currentLocation">Current Location</label>
            <select class="form-control" id="field_currentLocation" name="currentLocation" ng-model="vm.userProfile.currentLocation" ng-options="city as city.id for city in vm.cities track by city.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" ng-model="vm.userProfile.language" ng-options="language as language.id for language in vm.languages track by language.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.userProfile.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" ng-model="vm.userProfile.currency" ng-options="currency as currency.id for currency in vm.currencies track by currency.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
