
<div>
    <h2><span data-translate="backpackdaddyApp.userProfile.detail.title">User Profile</span> {{vm.userProfile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.userProfile.userName">User Name</span></dt>
        <dd>
            <span>{{vm.userProfile.userName}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.birthday">Birthday</span></dt>
        <dd>
            <span>{{vm.userProfile.birthday | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.isWorkingOversea">Is Working Oversea</span></dt>
        <dd>
            <span>{{vm.userProfile.isWorkingOversea}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.user">User</span></dt>
        <dd>
            {{vm.userProfile.user.id}}
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.gender">Gender</span></dt>
        <dd>
            <a ui-sref="gender-detail({id:vm.userProfile.gender.id})">{{vm.userProfile.gender.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.nationality">Nationality</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.userProfile.nationality.id})">{{vm.userProfile.nationality.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.occupation">Occupation</span></dt>
        <dd>
            <a ui-sref="occupation-detail({id:vm.userProfile.occupation.id})">{{vm.userProfile.occupation.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.currentLocation">Current Location</span></dt>
        <dd>
            <a ui-sref="city-detail({id:vm.userProfile.currentLocation.id})">{{vm.userProfile.currentLocation.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.language">Language</span></dt>
        <dd>
            <a ui-sref="language-detail({id:vm.userProfile.language.id})">{{vm.userProfile.language.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userProfile.currency">Currency</span></dt>
        <dd>
            <a ui-sref="currency-detail({id:vm.userProfile.currency.id})">{{vm.userProfile.currency.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-profile-detail.edit({id:vm.userProfile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
