<div>
    <h2 data-translate="backpackdaddyApp.userProfile.home.title">User Profiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-profile.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.userProfile.home.createLabel">
                        Create new User Profile
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.userName">User Name</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.birthday">Birthday</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.isWorkingOversea">Is Working Oversea</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.user">User</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.gender">Gender</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.nationality">Nationality</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.occupation">Occupation</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.currentLocation">Current Location</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.language">Language</span></th>
                    <th><span data-translate="backpackdaddyApp.userProfile.currency">Currency</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userProfile in vm.userProfiles track by userProfile.id">
                    <td><a ui-sref="user-profile-detail({id:userProfile.id})">{{userProfile.id}}</a></td>
                    <td>{{userProfile.userName}}</td>
                        <td>{{userProfile.birthday | date:'mediumDate'}}</td>
                    <td>{{userProfile.isWorkingOversea}}</td>
                    <td>
                        {{userProfile.user.id}}
                    </td>
                    <td>
                        <a ui-sref="gender-detail({id:userProfile.gender.id})">{{userProfile.gender.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="country-detail({id:userProfile.nationality.id})">{{userProfile.nationality.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="occupation-detail({id:userProfile.occupation.id})">{{userProfile.occupation.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="city-detail({id:userProfile.currentLocation.id})">{{userProfile.currentLocation.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="language-detail({id:userProfile.language.id})">{{userProfile.language.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="currency-detail({id:userProfile.currency.id})">{{userProfile.currency.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-profile-detail({id:userProfile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile.edit({id:userProfile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-profile.delete({id:userProfile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
