<div class="collapse navbar-collapse navbar-ex1-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
    <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
            <a ui-sref="home" ng-click="vm.collapseNavbar()">
                <span class="glyphicon glyphicon-home"></span>
                <span class="hidden-sm" data-translate="global.menu.home">Home</span>
            </a>
        </li>
        <li uib-dropdown-class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="listing-menu">
                <span>
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span class="hidden-sm">Listing Trip</span>
                </span>
            </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ui-sref-active="active">
                                <a ui-sref="country" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.country">Country</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="currency" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.currency">Currency</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="gender" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.gender">Gender</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="language" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.language">Language</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="occupation" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.occupation">Occupation</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="region" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.region">Region</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="city" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.city">City</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.category">Category</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-baggage" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripBaggage">Trip Baggage</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-payment-method" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripPaymentMethod">Trip Payment Method</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-service-fee" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripServiceFee">Trip Service Fee</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-service-fee-unit" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripServiceFeeUnit">Trip Service Fee Unit</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-status" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripStatus">Trip Status</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip-item-category" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.tripItemCategory">Trip Item Category</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="trip" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.trip">Trip</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="user-bank" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.userBank">User Bank</span>
                                </a>
                            </li>
                <li ui-sref-active="active">
                                <a ui-sref="user-profile" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span data-translate="global.menu.entities.userProfile">User Profile</span>
                                </a>
                            </li>
                <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
            </ul>
        </li>
        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span data-translate="global.menu.account.login">Sign in</span>
                            </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span data-translate="global.menu.account.register">Register</span>
                            </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ui-sref-active="active">
                    <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                <span data-translate="global.menu.admin.tracker">User tracker</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                </li>
                <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                    <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                </li>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            </ul>
        </li>
        <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                    </a>
            <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                    <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
