
<div>
    <h2><span data-translate="backpackdaddyApp.tripItemCategory.detail.title">Trip Item Category</span> {{vm.tripItemCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.tripItemCategory.trip">Trip</span></dt>
        <dd>
            <a ui-sref="trip-detail({id:vm.tripItemCategory.trip.id})">{{vm.tripItemCategory.trip.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.tripItemCategory.category">Category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.tripItemCategory.category.id})">{{vm.tripItemCategory.category.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="trip-item-category-detail.edit({id:vm.tripItemCategory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
