<div>
    <h2 data-translate="backpackdaddyApp.tripItemCategory.home.title">Trip Item Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trip-item-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.tripItemCategory.home.createLabel">
                        Create new Trip Item Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.tripItemCategory.trip">Trip</span></th>
                    <th><span data-translate="backpackdaddyApp.tripItemCategory.category">Category</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tripItemCategory in vm.tripItemCategories track by tripItemCategory.id">
                    <td><a ui-sref="trip-item-category-detail({id:tripItemCategory.id})">{{tripItemCategory.id}}</a></td>
                    <td>
                        <a ui-sref="trip-detail({id:tripItemCategory.trip.id})">{{tripItemCategory.trip.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="category-detail({id:tripItemCategory.category.id})">{{tripItemCategory.category.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trip-item-category-detail({id:tripItemCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip-item-category.edit({id:tripItemCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip-item-category.delete({id:tripItemCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
