
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTripItemCategoryLabel" data-translate="backpackdaddyApp.tripItemCategory.home.createOrEditLabel">Create or edit a Trip Item Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tripItemCategory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tripItemCategory.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="backpackdaddyApp.tripItemCategory.trip" for="field_trip">Trip</label>
            <select class="form-control" id="field_trip" name="trip" ng-model="vm.tripItemCategory.trip" ng-options="trip as trip.id for trip in vm.trips track by trip.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.tripItemCategory.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.tripItemCategory.category" ng-options="category as category.id for category in vm.categories track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
