<div>
    <h2 data-translate="backpackdaddyApp.city.home.title">Cities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="city.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.city.home.createLabel">
                        Create new City
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.city.latitude">Latitude</span></th>
                    <th><span data-translate="backpackdaddyApp.city.longitude">Longitude</span></th>
                    <th><span data-translate="backpackdaddyApp.city.name">Name</span></th>
                    <th><span data-translate="backpackdaddyApp.city.region">Region</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="city in vm.cities track by city.id">
                    <td><a ui-sref="city-detail({id:city.id})">{{city.id}}</a></td>
                    <td>{{city.latitude}}</td>
                    <td>{{city.longitude}}</td>
                    <td>{{city.name}}</td>
                    <td>
                        <a ui-sref="region-detail({id:city.region.id})">{{city.region.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="city-detail({id:city.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="city.edit({id:city.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="city.delete({id:city.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
