
<div>
    <h2><span data-translate="backpackdaddyApp.city.detail.title">City</span> {{vm.city.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.city.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.city.latitude}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.city.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.city.longitude}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.city.name">Name</span></dt>
        <dd>
            <span>{{vm.city.name}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.city.region">Region</span></dt>
        <dd>
            <a ui-sref="region-detail({id:vm.city.region.id})">{{vm.city.region.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="city-detail.edit({id:vm.city.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
