
<div>
    <h2><span data-translate="backpackdaddyApp.userBank.detail.title">User Bank</span> {{vm.userBank.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.userBank.bankAccountId">Bank Account Id</span></dt>
        <dd>
            <span>{{vm.userBank.bankAccountId}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userBank.bankName">Bank Name</span></dt>
        <dd>
            <span>{{vm.userBank.bankName}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.userBank.user">User</span></dt>
        <dd>
            {{vm.userBank.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-bank-detail.edit({id:vm.userBank.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
