<div>
    <h2 data-translate="backpackdaddyApp.userBank.home.title">User Banks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-bank.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.userBank.home.createLabel">
                        Create new User Bank
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.userBank.bankAccountId">Bank Account Id</span></th>
                    <th><span data-translate="backpackdaddyApp.userBank.bankName">Bank Name</span></th>
                    <th><span data-translate="backpackdaddyApp.userBank.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userBank in vm.userBanks track by userBank.id">
                    <td><a ui-sref="user-bank-detail({id:userBank.id})">{{userBank.id}}</a></td>
                    <td>{{userBank.bankAccountId}}</td>
                    <td>{{userBank.bankName}}</td>
                    <td>
                        {{userBank.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-bank-detail({id:userBank.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-bank.edit({id:userBank.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-bank.delete({id:userBank.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
