
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserBankLabel" data-translate="backpackdaddyApp.userBank.home.createOrEditLabel">Create or edit a User Bank</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userBank.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userBank.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.userBank.bankAccountId" for="field_bankAccountId">Bank Account Id</label>
            <input type="text" class="form-control" name="bankAccountId" id="field_bankAccountId"
                    ng-model="vm.userBank.bankAccountId"
                    ng-maxlength="255"/>
            <div ng-show="editForm.bankAccountId.$invalid">
                <p class="help-block"
                    ng-show="editForm.bankAccountId.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.userBank.bankName" for="field_bankName">Bank Name</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="vm.userBank.bankName"
                    />
        </div>

        <div class="form-group">
            <label data-translate="backpackdaddyApp.userBank.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userBank.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
