
<div>
    <h2><span data-translate="backpackdaddyApp.trip.detail.title">Trip</span> {{vm.trip.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="backpackdaddyApp.trip.tripDate">Trip Date</span></dt>
        <dd>
            <span>{{vm.trip.tripDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.baggageMaks">Baggage Maks</span></dt>
        <dd>
            <span>{{vm.trip.baggageMaks}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.serviceFeeMin">Service Fee Min</span></dt>
        <dd>
            <span>{{vm.trip.serviceFeeMin}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.serviceFeeMax">Service Fee Max</span></dt>
        <dd>
            <span>{{vm.trip.serviceFeeMax}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.additionalInfo">Additional Info</span></dt>
        <dd>
            <span>{{vm.trip.additionalInfo}}</span>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.user">User</span></dt>
        <dd>
            {{vm.trip.user.id}}
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.tripFromCity">Trip From City</span></dt>
        <dd>
            <a ui-sref="city-detail({id:vm.trip.tripFromCity.id})">{{vm.trip.tripFromCity.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.tripToCity">Trip To City</span></dt>
        <dd>
            <a ui-sref="city-detail({id:vm.trip.tripToCity.id})">{{vm.trip.tripToCity.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.baggage">Baggage</span></dt>
        <dd>
            <a ui-sref="trip-baggage-detail({id:vm.trip.baggage.id})">{{vm.trip.baggage.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.paymentMethod">Payment Method</span></dt>
        <dd>
            <a ui-sref="trip-payment-method-detail({id:vm.trip.paymentMethod.id})">{{vm.trip.paymentMethod.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.bankAccount">Bank Account</span></dt>
        <dd>
            <a ui-sref="user-bank-detail({id:vm.trip.bankAccount.id})">{{vm.trip.bankAccount.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.serviceFee">Service Fee</span></dt>
        <dd>
            <a ui-sref="trip-service-fee-detail({id:vm.trip.serviceFee.id})">{{vm.trip.serviceFee.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.serviceFeeUnit">Service Fee Unit</span></dt>
        <dd>
            <a ui-sref="trip-service-fee-unit-detail({id:vm.trip.serviceFeeUnit.id})">{{vm.trip.serviceFeeUnit.id}}</a>
        </dd>
        <dt><span data-translate="backpackdaddyApp.trip.status">Status</span></dt>
        <dd>
            <a ui-sref="trip-status-detail({id:vm.trip.status.id})">{{vm.trip.status.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="trip-detail.edit({id:vm.trip.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
