
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTripLabel" data-translate="backpackdaddyApp.trip.home.createOrEditLabel">Create or edit a Trip</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.trip.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.trip.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.trip.tripDate" for="field_tripDate">Trip Date</label>
                <div class="input-group">
                    <input id="field_tripDate" type="text" class="form-control" name="tripDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.trip.tripDate" is-open="vm.datePickerOpenStatus.tripDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tripDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.tripDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.tripDate.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.trip.baggageMaks" for="field_baggageMaks">Baggage Maks</label>
            <input type="number" class="form-control" name="baggageMaks" id="field_baggageMaks"
                    ng-model="vm.trip.baggageMaks"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.trip.serviceFeeMin" for="field_serviceFeeMin">Service Fee Min</label>
            <input type="number" class="form-control" name="serviceFeeMin" id="field_serviceFeeMin"
                    ng-model="vm.trip.serviceFeeMin"
                    required/>
            <div ng-show="editForm.serviceFeeMin.$invalid">
                <p class="help-block"
                    ng-show="editForm.serviceFeeMin.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.serviceFeeMin.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.trip.serviceFeeMax" for="field_serviceFeeMax">Service Fee Max</label>
            <input type="number" class="form-control" name="serviceFeeMax" id="field_serviceFeeMax"
                    ng-model="vm.trip.serviceFeeMax"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="backpackdaddyApp.trip.additionalInfo" for="field_additionalInfo">Additional Info</label>
            <input type="text" class="form-control" name="additionalInfo" id="field_additionalInfo"
                    ng-model="vm.trip.additionalInfo"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.additionalInfo.$invalid">
                <p class="help-block"
                    ng-show="editForm.additionalInfo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.additionalInfo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.trip.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.tripFromCity" for="field_tripFromCity">Trip From City</label>
            <select class="form-control" id="field_tripFromCity" name="tripFromCity" ng-model="vm.trip.tripFromCity" ng-options="city as city.id for city in vm.cities track by city.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.tripToCity" for="field_tripToCity">Trip To City</label>
            <select class="form-control" id="field_tripToCity" name="tripToCity" ng-model="vm.trip.tripToCity" ng-options="city as city.id for city in vm.cities track by city.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.baggage" for="field_baggage">Baggage</label>
            <select class="form-control" id="field_baggage" name="baggage" ng-model="vm.trip.baggage" ng-options="tripBaggage as tripBaggage.id for tripBaggage in vm.tripbaggages track by tripBaggage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.paymentMethod" for="field_paymentMethod">Payment Method</label>
            <select class="form-control" id="field_paymentMethod" name="paymentMethod" ng-model="vm.trip.paymentMethod" ng-options="tripPaymentMethod as tripPaymentMethod.id for tripPaymentMethod in vm.trippaymentmethods track by tripPaymentMethod.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.bankAccount" for="field_bankAccount">Bank Account</label>
            <select class="form-control" id="field_bankAccount" name="bankAccount" ng-model="vm.trip.bankAccount" ng-options="userBank as userBank.id for userBank in vm.userbanks track by userBank.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.serviceFee" for="field_serviceFee">Service Fee</label>
            <select class="form-control" id="field_serviceFee" name="serviceFee" ng-model="vm.trip.serviceFee" ng-options="tripServiceFee as tripServiceFee.id for tripServiceFee in vm.tripservicefees track by tripServiceFee.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.serviceFeeUnit" for="field_serviceFeeUnit">Service Fee Unit</label>
            <select class="form-control" id="field_serviceFeeUnit" name="serviceFeeUnit" ng-model="vm.trip.serviceFeeUnit" ng-options="tripServiceFeeUnit as tripServiceFeeUnit.id for tripServiceFeeUnit in vm.tripservicefeeunits track by tripServiceFeeUnit.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="backpackdaddyApp.trip.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.trip.status" ng-options="tripStatus as tripStatus.id for tripStatus in vm.tripstatuses track by tripStatus.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
