<div>
    <h2 data-translate="backpackdaddyApp.trip.home.title">Trips</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="trip.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="backpackdaddyApp.trip.home.createLabel">
                        Create new Trip
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.tripDate">Trip Date</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.baggageMaks">Baggage Maks</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.serviceFeeMin">Service Fee Min</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.serviceFeeMax">Service Fee Max</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.additionalInfo">Additional Info</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.user">User</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.tripFromCity">Trip From City</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.tripToCity">Trip To City</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.baggage">Baggage</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.paymentMethod">Payment Method</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.bankAccount">Bank Account</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.serviceFee">Service Fee</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.serviceFeeUnit">Service Fee Unit</span></th>
                    <th><span data-translate="backpackdaddyApp.trip.status">Status</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trip in vm.trips track by trip.id">
                    <td><a ui-sref="trip-detail({id:trip.id})">{{trip.id}}</a></td>
                        <td>{{trip.tripDate | date:'mediumDate'}}</td>
                    <td>{{trip.baggageMaks}}</td>
                    <td>{{trip.serviceFeeMin}}</td>
                    <td>{{trip.serviceFeeMax}}</td>
                    <td>{{trip.additionalInfo}}</td>
                    <td>
                        {{trip.user.id}}
                    </td>
                    <td>
                        <a ui-sref="city-detail({id:trip.tripFromCity.id})">{{trip.tripFromCity.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="city-detail({id:trip.tripToCity.id})">{{trip.tripToCity.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-baggage-detail({id:trip.baggage.id})">{{trip.baggage.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-payment-method-detail({id:trip.paymentMethod.id})">{{trip.paymentMethod.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-bank-detail({id:trip.bankAccount.id})">{{trip.bankAccount.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-service-fee-detail({id:trip.serviceFee.id})">{{trip.serviceFee.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-service-fee-unit-detail({id:trip.serviceFeeUnit.id})">{{trip.serviceFeeUnit.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="trip-status-detail({id:trip.status.id})">{{trip.status.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="trip-detail({id:trip.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip.edit({id:trip.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="trip.delete({id:trip.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
